*{
    padding: 0px;
    margin: 0px;
}

#hero-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {

    display: flex;
    flex-direction: row;
    width: 100vh;
    /* height: 100vh; */
    /* background-color: aqua; */
}
#hero-content {
    margin-right: 30px;
}

#hero-content :first-child > h3{


}
#hero-content > :last-child > p{ 
    margin-bottom: 20px;

}
#hero-content :first-child > p {
    margin-top: 10px;
    margin-bottom: 3rem;
    line-height: 1.3rem;
    /* text-justify: auto; */
    text-align: justify;
}
#hero-illust{

}
#hero-illust > img {
    height: 50vh;
    width: 250px;
}

#hero-logos > img{
width: 15%;
height: 35%;
}

/*  feature*/

#feature{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#feature-hero :first-child > h1{
    margin-bottom: 0px;
    text-align: center;
}

#feature-hero .col > svg {
    /* color: aqua; */
    margin-bottom: 30px;
    height: 70px;
}

.row {
   
    margin: 20px;
}
.col  {
    text-align: center;
}
#feature-hero .col > p {
    /* font-weight: 700; */
    
}

.mycolor{
    fill: aqua;
}

/* --pricing tables */

#pricetables{
    text-align: center;
}
table {
    table-layout: fixed;
    width: 140vh;
    text-align: center;
}


tbody > tr {
    width: 20px;
    height: 50px;
    border-top: 1px solid rgb(146, 171, 185);
    /* padding: 60px; */
}
thead > tr > th {
    
}
thead > tr > th > button {
    text-decoration: none;
    padding: 5px 20px;
    margin-bottom: 20px;
    border: 2px solid #006eff;
    border-radius: 5px;
    background-color: #ffffff;
    transition: ease-in;
    /* width: 0%; */
}
thead > tr > th > button:hover{
    background-color: #006eff;
    color: #ffffff;

}

#table-btn-focus:focus{
    background-color: #006eff;

}
thead > tr > th:nth-child(3) > button:focus {
    background-color: #006eff;
}